<ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="">Live Matches</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="bets">Bets</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="mybets">My Bets</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="signin">Signin</a>
      </li>
  </ul>
